.container{
    display: flex;
    align-items:flex-start;
    padding: 0 2rem;
    justify-content: space-between;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
img{
    height: 3rem;
}
.container-left{
    display: flex;
    margin-top: 1.5rem;

}
.container-right{
    display: flex;
    margin-top: 1.5rem;


}
.container-right img{
    height: 2rem;
    border-radius: 20%;
    
}
