.container{
    display: flex;
    align-items:flex-start;
    padding: 0 2rem;
    justify-content: space-between;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    
}
img{
    height: 3rem;
}
.container-left{
    display: flex;
    margin-top: 1.5rem;

}
.container-right{
    display: flex;
    margin-top: 1.5rem;


}
.container-right img{
    height: 2rem;
    border-radius: 20%;
    
}
.Navbar{
    height: 10vh;
    background-color: black;
}
 .options{
    display: none;
}
.pro-icon:hover + .options {
    display: flex;
    flex-direction: column;
}
